<%- include('includes/head'); %>

    <section class="container">
        <h1>
            <%# comentário do EJS %>
            <% if(typeof titulo !== 'undefined') { %>
                <%= titulo %>
            <%  } else { %>
                O titulo não foi enviado.
            <% } %>
                <br>
            <% numeros.forEach( num => { %>
                <%= num %> <br>
            <% }); %>
            
            <!-- O sinal de Igual escapa caracteres (Mais seguro de ser utilizado) 
            <%= titulo %> <br>
            Esse deve ser usado quando você sabe que o o conteúdo que está vindo precisa ser HTML (não escapa caracteres)
            <%- titulo %>
            -->
        </h1>
        <h2> <%= umaVariavelLocal %> </h2>
        <form action="/" method="post">
            <!-- Cria um novo token a cada interação da página - Sem ele dá erro: -->
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label>Client</label>
            <input type="text" name="client">
            <button type="submit">Submit</button>
        </form>
    </section>

<%- include('includes/head'); %>
